* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ada18b;
}

.navbar {
  background: #523d35;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.navbar nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
}

.hero {
  margin: 20px;
  padding: 40px 20px;
  background: linear-gradient(135deg, #6b513e, #b09c8d);
  color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 12px;
}

.hero h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 14px;
  margin-bottom: 20px;
}

.btn {
  background: #b18c72;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.why-choose {
  border: none;
  padding: 40px 20px;
  border-radius: 25px;
  text-align: center;
}

.why-choose h2 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #472b06;
}

.choose-container {
  max-width: 900px;
  width: 90%;
  margin: 0px auto;
  background: #8b6f5a;
  padding: 40px;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .choose-container {
    flex-direction: column;
  }
}

.choose-card {
  flex: 1;
  background: #f3f1ed;
  padding: 25px 20px;
  border-radius: 14px;
  text-align: center;
  color: #472b06;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.choose-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.choose-card p {
  font-size: 14px;
  line-height: 1.5;
}

.choose-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.stats {
  background: linear-gradient(135deg, #6b513e, #b09c8d);
  margin: 40px auto;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stat {
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
}

.stat child {
  animation-delay: 02s;
}

.stat h2 {
  color: #472b06;
}

.stat p {
  font-size: 13px;
}
footer {
  width: 100%;
  background-color: #221d16;
  color: #dcdcdc;
  text-align: center;
  padding: 20px 10px;
  font-size: 13px;
}

footer p {
  margin: 5px 0;
}

footer span {
  color: #836d36;
}

.fade-down {
  animation: fadeDown 1s ease forwards;
}

.fade-up {
  animation: fadeUp 1.2s ease forwards;
}

.zoom-in {
  animation: zoomIn 1.4s ease forwards;
}

.slide-up {
  animation: slideUp 1s ease forwards;
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile Navbar Fix */
@media (max-width: 600px) {
  .navbar nav a {
    margin-left: 8px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .choose-box {
    flex-direction: column;
  }
}
