* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #ada18b;
}

header {
  background: #523d35;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
header h1 {
  font-size: 20px;
}
.navbar {
  background-color: #523d35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 12px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.hero {
  background: linear-gradient(135deg, #6b513e, #b09c8d);
  margin: 40px auto;
  width: 80%;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  color: #fff;
  animation: slideFromRight 1.2s ease-out forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero h2 {
  font-size: 30px;
  margin-bottom: 10px;
  animation: fadeUp 1s ease forwards;
}

.hero p {
  font-size: 14px;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #fff;
  color: #855d28;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  animation: fadeUp 1.4s ease forwards;
}

.hero button:hover {
  background: #f1f1f1;
}
@keyframes fadeUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.why-choose {
  width: 80%;
  margin: 70px auto;
  text-align: center;
  padding: 30px 0;
  background: #8f8069;
  border-radius: 8px;
}
.why-choose h2 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #333;
}

.choose-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.choose-card {
  width: 260px;
  padding: 25px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  animation: fadeIn 1s ease forwards;
  transition: transform 0.3s ease;
}

.choose-card:hover {
  transform: translateY(-5px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.choose-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.choose-card p {
  font-size: 13px;
  color: #0c0a0a;
  line-height: 1.5;
}

.stats {
  background: linear-gradient(135deg, #6b513e, #b09c8d);
  margin: 40px auto;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stat {
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.stat child {
  animation-delay: 02s;
}

.stat h2 {
  color: #fff;
}

.stat p {
  font-size: 13px;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideFromLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  width: 100%;
  background-color: #221d16;
  color: #dcdcdc;
  text-align: center;
  padding: 20px 10px;
  font-size: 13px;
}

footer p {
  margin: 5px 0;
}

footer span {
  color: #836d36;
}


